.DS_Store
.null-ls*
/bin/
/bin/
/doc/_*.xml
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.css
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.js
/doc/*.lab
/doc/*.log
/doc/*.out
/doc/*.pnr
/doc/*.six
/doc/*.tex
/doc/*.toc
/doc/chap*.html
/doc/chap*.txt
/doc/chooser.html
/doc/manual.pdf
/gen/
/gh-pages/
/Makefile
/tmp/
info.*
parallel/logs
parallel/pid
parallel/results
parallel/runs
parallel/*.txt
!info.bib
!info.pdf
!info.tex
!doc/_Chapter_*.xml
